<h1>{{title}}</h1>
<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()" >
    <div class="row">
        <div class="mb-3 col">
            <label class="form-label">Notificador</label>
            <input type="text" formControlName="notificaciones" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.notificaciones.errors }" />
            <div *ngIf="submitted && f.notificaciones.errors" class="invalid-feedback">
                <div *ngIf="f.notificaciones.errors.required">required</div>
            </div>
        </div>

    </div>


    <div class="mb-3">
        <button [disabled]="submitting" class="btn btn-primary">
            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
            Actualizar
        </button>
        <a routerLink="/users" class="btn btn-link">Volver</a>
    </div>
</form>



<div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div>